*{
    margin: 0;
    padding: 0;
    font-family: outfit;
}
nav{
    background: black;
}
h1,p,h6{
    margin: 0;
    padding: 0;
}
nav img{
    width: 40px;
}

.nav-ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-ul h6{
    position: relative;
    left: 20px;
    background-color:rgb(32, 28, 28);
    padding: 10px;
    border-radius: 30px;
}

.nav-ul h6 i{
    color: white;
    font-size: 25px;
}

.nav-ul div{
    display: flex;
    align-items: center;
}



#home-nav i{
 position: relative;
    left: -34px;
    color: white;
    top: -5px;
}

.nav-ul div p{
    margin-top: 15px;
}

.nav-ul div p i{
   
    font-size: 24px;
}
#nav-p-left{
    position: relative;
    left: 32px;
    color: rgba(255, 255, 255, 0.595);
    top: -5px;
}
#nav-p-right{
    position: relative;
    left: -34px;
    color: white;
    top: -5px;

}

.nav-ul div input{
    padding: 12px;
    border-radius: 20px;
    width: 450px;
    outline: none;
    border: none;
    background-color:rgb(32, 28, 28);
}

#nav-signup-button{
    background-color: black;
    border: none;
    color: gray;
    font-weight: bold;
}

#nav-login-button{
    background-color: white;
    border: none;
    color: rgba(43, 38, 38, 0.988);
    font-weight: bold;
    padding: 12px 27px;
    border-radius: 20px;
}